<body>
    <div class="titulo">
        <h2>Experiencia laboral y Proyectos</h2>
    </div>
    <hr>
    <div class="pb">
        <div class="texto">
            <h3>BPMIT Soluciones</h3>
            <p>He estado trabajando en la empresa BPMIT Soluciones desde junio de 2022. En esta empresa implantamos el ERP
                Odoo a las empresas que nos contratan, mi rol aquí es llevar a los clientes de la mano en todo el proceso,
                me encargo de capacitarlos en el funcionamiento del sistema, preparar los servidores en los que se encuentran
                sus sistemas de pruebas y de producción, cargar masivamente toda la información necesaria como clientes, proveedores,
                productos, etc. Me encargo también de desarrollar los cambios que sean requeridos y no tenga el sistema de forma nativa.
                Al final del proceso, soy soporte técnico para solucionar los problemas que le puedan surgir al cliente ya en producción.
            </p>
        </div>
        <img id="bpmit" src="./../../../assets/bpmit.png" alt="Img BPMIT" class="img-right">
    </div>
    <hr>
    <div class="p1">
        <div class="texto">
            <h3>Task Master</h3>
            <p>Task Master es una página web desarrollada con HTML, CSS y Javascript. Este proyecto escolar funciona
                como un to do list en el que el usuario puede dar de alta, editar y eliminar sus notas de pendientes.
                Además de que se realizó la diferencia entre usuarios administradores y clientes haciendo uso de tokens
                al iniciar sesión.</p>
        </div>
        <img src="./../../../assets/js.jpg" alt="Img toDo List" class="img-right">
    </div>
    <hr>
    <div class="p2">
        <div class="texto">
            <h3>El sabio forajido</h3>
            <p>El sabio forajido es un juego desarrollado en Java. Trata de un personaje en el espacio que debe enfrentarse
                a diferentes enemigos que le bajan vida si lo tocan hasta matarlo, la forma de defenderse de nuestro personaje
                es disparando a los enemigos y moviéndose sobre la pantalla. Este proyecto se desarrolló con el paradigma de 
                programación orientado a objetos.</p>
        </div>
        <img src="./../../../assets/java.png" alt="Img Sabio forajigo" class="img-right">
    </div>
    <hr>
    <div class="p3">
        <div class="texto">
            <h3>MC Movies</h3>
            <p>MC Movies fue un proyecto escolar que se conecta a una base de datos para tomar información de películas. 
                El usuario tiene las opciones de buscar la reseña de una película, agregar una reseña, y calificar comentarios
                que otros usuarios ya han realizado. Este fue desarrollado completamente en python.
            </p>
        </div>
        <img src="./../../../assets/python.jpg" alt=" Img MC Movies" class="img-right">
    </div>
</body>
