<body>
    <div class="title">
        <h2>Cusros y certificaciones</h2>
    </div>
    <hr>
    <div class="c1">
        <div class="texto">
            <h3>Metodologías ágiles y enfoques lean</h3>
            <p>
                Las metodologías ágiles se centran en el trabajo en equipo, la colaboración y la adaptabilidad a los 
                cambios en los requisitos del proyecto. En lugar de seguir un plan estricto desde el principio, 
                las metodologías ágiles se basan en un enfoque iterativo e incremental, lo que significa que el trabajo 
                se divide en ciclos cortos y se entregan resultados funcionales al final de cada ciclo.
            </p>
        </div>
        <img src="./../../../assets/Proyectos.png" alt="Img Proyectos" class="img-right">
    </div>
    <hr>
    <div class="c2">
        <div class="texto">
            <h3>Curso sobre inteligencia artificial con NXP y coloquio de presentación</h3>
            <p>
                Tomé un curso con duración de seis meses con la empresa NXP, en el que se buscó vincular alumnos de primeros 
                semestres con el tema de la inteligencia artificial. En este curso pude comprender los principales conceptos 
                sobre este tema. Además de eso, se realizó la presentación del proyecto que se realizó al final del curso en el 
                III Coloquio de Matemática Educativa ITESO 2021 en el que fui presentador de proyecto.
            </p>
        </div>
        <img src="./../../../assets/coloquio.png" alt="Img Coloquio" class="img-right">
    </div>
</body>
