<body>
    <h2>Información general</h2>
    <br>
    <div class="info">
        <div class="text">
            <h3>Christian Alejandro Pereda González</h3>
            <h3>Ingeniería en Sistemas Computacionales</h3>
        </div>
        <img src="./../../../assets/foto.jpg" alt="Imagen" >
    </div>
    <div id="habilidades">
        <h3>Habilidades</h3>
        <ul>
            <li>Sé trabajar en equipo para la
                elaboración de proyectos aportando
                mis ideas buscando siempre soluciones
                eficaces a los problemas.
            </li>
            <li>Tengo la capacidad para trabajar bajo
                presión.
            </li>
            <li>
                Me mantengo en constante aprendizaje
                para ser capaz de afrontar diferentes
                tipos de retos.
            </li>
            <li>Practico el deporte Rugby, en el que
                me enfrento a retos constantemente,
                además de que este ayuda a tomar
                decisiones acertadas en un ambiente
                de presión.
            </li>
        </ul>
    </div>
    <div id="objetivo">
        <h3>Objetivo profesional</h3>
        <p>Desarrollar mis habilidades en diferentes tecnologías como Angular y aplicar mis conocimientos en el área de desarrollo web.
            Busco una posición que me permita aprender y crecer en un ambiente de trabajo dinámico y retador, 
            donde pueda poner en práctica mis habilidades de programación y solución de problemas
            para contribuir al desarrollo de aplicaciones web de alta calidad.</p>
    </div>
    <div id="idiomas">
        <h3>Dominio de idiomas</h3>
        <ul>
            <li>Español (Lengua madre)</li>
            <li>Inglés intermedio</li>
        </ul>
    </div>
</body>


