<body>
    <div id="titulo">
        <h2>Educación</h2>
    </div>
    <div>
        <img src="./../../../assets/ITESO.jpg" alt="Imagen ITESO">
    </div>
    <div id="info">
        <hr>
        <h3>Institución educativa</h3>
        <h4>Instituto Tecnológico y de Estudios Superiores de Occidente</h4>
        <hr>
        <h3>Área de estudios</h3>
        <h4>Ingeniería y Tecnologías</h4>
        <hr>
        <h3>Fecha de graduación</h3>
        <h4>Diciembre 2024</h4>
        <hr>
        <h3>Promedio de calificaciones actual</h3>
        <h4> 9.61</h4>
    </div>
</body>