<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia laboral</title>
    <link rel="stylesheet" href="/assets/output/css/style.css">
</head>
<body>
    <header>
        <h1>Experiencia laboral</h1>
    </header>
    <main>
        <div clas="container">
            <article>
                <section id="sec2">
                    <h2>He tenido varios trabajos informales antes de entrar a la carrera,
                        los cuales son los siguientes:
                    </h2>
                    <h4>
                        <ol>
                            <li>Durante bastante tiempo trabajé en una tortillería, no me gustaba mucho debido al 
                                calor que se debe soportar, pero me convertí experto en el tema y me hacía 
                                cargo de todo hasta antes de salirme del trabajo
                            </li>
                            <li>Considero que el peor de los trabajos fue ser carnicero, el olor no era nada bonito
                                pero pude obtener experiencia también y apreder bastante sobre cortes de carne.
                            </li>El trabajo que me gustó más fue el de mesero, en eventos y en un restaurante, lograba siempre una
                                conexión muy buena con los clientes (o invitados en su caso), y terminaba con bastante dinero de propina.
                            </li>
                        </ol>
                    </h4>
                    <h2> Una vez en la carrera conseguí un trabajo mucho mejor que los que había tenido, este me ha ayudado a 
                        obtener experiencia en varios temas:
                    </h2>
                    <h4>
                        <ol>
                            <li>La empresa en la que trabajo actualmente se dedica a implantar un sistema ERP llamado odoo,
                                en este tengo el papel de soporte técnico y asesor sobre el funcionamiento
                                de dicho sistema. Además de esto, también realizo desarrollos que los clientes requieren para
                                tener diferentes funcionalidades.
                            </li>
                        </ol>
                    </h4>
                    <div align="center">
                        <img id="foto-exp" src="/assets/bpmit.png">
                        <img id="foto-exp" src="/assets/mesero.jpg">
                    </div>
                </section>
            </article>
        </div>
    </main>
</body>
</html>