<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de fotos</title>
    <link rel="stylesheet" href="/assets/output/css/style.css">
</head>
<body>
    <header>
        <h1>Galeria de fotos</h1>
    </header>
    <main>
        <div clas="container">
            <article>
                <section id="sec2">
                    <h2>Comparto algunos momentos que he vivido a lo largo de la carrera
                    </h2>
                    <h4>
                        <ol>
                            <li>Disfrutar el proceso de lo que se está haciendo es algo fundamental para sentirse vivo
                                y siempre se debe tratar de no convertir la vida en algo monótono.
                            </li>
                            <li>A fin de cuentas, lo que importa es lo feliz que eres. Es importante saber que el chiste de
                                esta vida es compartir con amigos y morir joven lo más tarde posible
                            </li>
                        </ol>
                    </h4>
                    <div align="center">
                        <img id="foto-galeria" src="/assets/1.jpg">
                        <img id="foto-galeria" src="/assets/2.jpg">
                        <img id="foto-galeria" src="/assets/3.png">
                        <img id="foto-galeria" src="/assets/4.png">
                        <img id="foto-galeria" src="/assets/5.png">
                    </div>
                </section>
            </article>
        </div>
    </main>
</body>
</html>