<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de presentación</title>
    <link rel="stylesheet" href="/assets/output/css/style.css">
</head>
<body>
    <main>
        <div class="container">
            <article>
                <section id="sec1">
                    <div id="arriba">
                        <nav>
                            <p id="div1">-----------------</p>
                            <h2>Página de presentación</h2>
                            <h4>En esta página de presentación hablaré un poco sobre las herramientas con las que he trabajado
                                durante la carrera, el trabajo que tengo actualmente, así como las cosas que me gusta hacer y 
                                mis datos de contacto.
                            </h4>
                        </nav>
                    </div>
                    <div id="div3">
                        <h2>Algo sobre mi</h2>
                        <h4>
                            <ol >
                                <li>Actualmente estoy en sexto semestre de la Ingeniería en Sistemas Computacionales, 
                                    he disfrutado mucho la carrera debido a que me gusta mucho lo que veo en las 
                                    diferentes materias.</li>
                                <li>Soy de Villa Hidalgo Jalisco, un municipio que se encuentra en los altos, a una hora de Aguascalientes.</li>
                                <li>Me mudé a Guadalajara desde mi primer semestre, pues a pesar de que había pandemia, siempre 
                                    tuve al menos una clase presencial. Desde ese momento vivo solo.</li>
                                <li>He trabajado hasta ahora con la creación de páginas web, específicamente de un 
                                    Ecommerce, tuve la oportunidad de trabajar con esto en quinto semestre.</li>
                                <li>En clases he manejado bases de datos relacionales, 
                                    lo cual me ha gustado mucho hasta ahora.</li>
                                <li>Me siento bastante contento con lo que he aprendido sobre la creación de páginas web el 
                                    semestre pasado, pero creo que tengo muchas cosas más por mejorar y estoy dispuesto a 
                                    esforzarme por aprender bien cada uno de los temas y obtener las habilidades esperadas.
                                </li>
                            </ol>
                        </h4>
                    </div>
                    <div id="div4">
                        <h2>Una imagen mía</h2>
                        <div align="center"><img id="foto" src="/assets/imagen.jpg"></div>
                    </div>
                </section>
                
            </article>
            <aside>
                <div id="div2">
                    <h2>Hobbies</h2>
                    <h3>Mis principales hobbies son los siguientes:</h3>
                    <ol>
                        <li>Me gusta mucho salir a pasear en bicicleta</li>
                        <li>Hacer ejercicio en el gimnasio es una de las cosas que me ayuda a sentirme mejor y liberar el estrés</li>
                        <li>Últimamente se ha convertido en un hábito practicar mecanografía y he logrado ser bastanta bueno</li>
                        <li>Me gusta mucho pasar tiempo con mis amigos, tener buenas charlas y poder salir a distintos lugares con ellos.</li>
                        <li>Escuchar música es algo que me encanta, siempre que puedo estoy escuchando algo de fonto (Tengo gustos de señor y me gustan mucho los bukis)</li>
                        <div align="center"><img id="foto-bks" src="/assets/bukis.jpg"></div>
                    </ol><br/>
                    <h2>Datos de contacto:</h2>
                    <p>-Christian Alejandro Pereda González<br/>-Ingeniería en Sistemas Computacionales<br/>
                        -21 años<br/>
                        -Teléfono: 405-106-27-53</p>
                    <a href="https://www.instagram.com/chris.pereda/">-Mi instagram</a>
                </div>
            </aside>
        </div>
    </main>

</body>
</html>