<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/estilos.css"> <!-- Funciona gracias al middleware que utiliza el express.static  -->

</head>
<body>
    <br/>
    
    <br/>
    <h2 class="center">-------Tus resultados de noticias-------</h2>


    <div class="tarjeta">
        {{#each noticias}}
            <div class="card">
                <h2 class="card-title">{{this.titulo}}</h2>
                <p class="center">-----------------------------------</p>
                <p>{{this.descripcion}}</p>
                <br/>
                <img src={{this.imagen}} alt="No funciona" class="imagen center">
                <br/>
                <a href={{this.url}} target="_blank" class="card-link">Ir al sitio</a>
            </div>
        {{/each}}
    </div>

    

</body>
</html>