<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-8tW5o/54eNhJX9/Yp1vq8Wgs+OKwLkIVV7pN+krq3N7ZuIotGJlw9Zg/ICHeDQJw4k4eZO+2mUJv+G6mS53S1g==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
  </head>
<body>
    <div class="titulo">
        <h2>Datos de contacto</h2>
    </div>
    <br/>
    <hr>
    <br/>
    <div class="contacto">
        <ul>
            <li>Teléfono:<br/> 4951062753</li><br/>
            <li>Correo electrónico:<br/> cperedagonzalez@gmail.com</li><br/>
            <li>Repositorio github:<br/> https://github.com/ChrisPereda0601</li><br/>
            <li>Perfil de Linkedin:<br/> https://www.linkedin.com/in/christian-alejandro-pereda-8a4860265/</li><br/>
            <li>Instagram:<br/> <a href="https://www.instagram.com/chris.pereda/" target="_blank">Perfil</a></li>
        </ul>
    </div>
    <hr>
</body>