<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/estilos.css"> <!-- Funciona gracias al middleware que utiliza el express.static  -->
</head>
<body>
    <header>
        <menu align="center">
            <a href="/?token=123">Inicio</a>
            <p id="p">-----------------</p>
            <a href="/exp?token=123">Experiencia laboral</a>
            <p id="p">-----------------</p>
            <a href="/galeria?token=123">Lista de imagenes</a>
         </menu>
    </header>
    {{{body}}}
</body>
</html>